.main-padding-startseite {
    padding: 45vh 15px 0;
}

.huge-title-h1 {
    font-size: 9vw;
    line-height: 0.85;
    margin-bottom: 1.5rem;
}


.huge-title-h3 {
    font-size: 2.7vw;
}


.main-padding-startseite {
    .main-margin {
        margin-left: $size-sidebar-left + $size-margin-left-main;
        max-width: 100 - $size-sidebar-left - $size-sidebar-right - $size-margin-left-main - 5;
        padding-top: 0;
    }
}