@charset "UTF-8";
/*---------- MIXINS ----------*/
/*---------- VARIABELN ----------*/
/*----- SIZES -----*/
/*----- ANIMATION DURATION -----*/
/*---------- FARBEN ----------*/
/*---------- HELPERS ----------*/
.displaynone {
  display: none;
}

.displaynone-button-image {
  display: none;
}

.smallh3 {
  font-size: 2rem !important;
}

.main-padding-startseite {
  padding: 45vh 15px 0;
}

.huge-title-h1 {
  font-size: 9vw;
  line-height: 0.85;
  margin-bottom: 1.5rem;
}

.huge-title-h3 {
  font-size: 2.7vw;
}

.main-padding-startseite .main-margin {
  margin-left: 38%;
  max-width: 50%;
  padding-top: 0;
}

.container-personen .main-image {
  position: absolute;
}

/*----------- Grünes Overlay -----------*/
.overlay-static {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: rgba(28, 33, 18, 0);
  border-left: solid 0px #F3F1E9;
  -webkit-transition: all 0.5s cubic-bezier(0.69, 0.33, 0.32, 0.71);
  transition: all 0.5s cubic-bezier(0.69, 0.33, 0.32, 0.71);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.overlay-header-static {
  position: absolute;
  bottom: 1vh;
  left: 2vw;
  color: #F3F1E9;
  margin: 0 0 1rem 0;
  -webkit-transition: all 0.5s cubic-bezier(0.69, 0.33, 0.32, 0.71);
  transition: all 0.5s cubic-bezier(0.69, 0.33, 0.32, 0.71);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.overlay-text-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.69, 0.33, 0.32, 0.71);
  transition: all 0.5s cubic-bezier(0.69, 0.33, 0.32, 0.71);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.overlay-text-image .text-positioning {
  position: relative;
  margin-left: 2vw;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.69, 0.33, 0.32, 0.71);
  transition: all 0.5s cubic-bezier(0.69, 0.33, 0.32, 0.71);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.overlay-text-image .text-positioning p {
  color: white;
  font-size: 1rem !important;
  width: 100%;
}

.img-item {
  position: relative;
}

.img-item .overlay-container {
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.img-item .overlay-container-effect {
  -webkit-transition: all 0.2s cubic-bezier(0.69, 0.33, 0.32, 0.71);
  transition: all 0.2s cubic-bezier(0.69, 0.33, 0.32, 0.71);
}

.overlay-image {
  max-width: 20px;
  height: auto;
}

/*----------- Hover Effects -----------*/
.img-item:hover {
  /*.overlay-projekte-left {
      opacity: 1;
      height: 100%;
    }

    .overlay-projekte-right {
      opacity: 1;
      top: 0;
      height: 100%;
    }*/
}

.img-item:hover .overlay-background-image {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.img-item:hover .overlay-text-image {
  opacity: 1;
}

.img-item:hover .text-positioning {
  opacity: 1;
  margin-top: 13%;
  margin-left: 2vw;
}

.img-item:hover .overlay-container-effect {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.img-item:hover .overlay-static {
  background-color: rgba(28, 33, 18, 0.85);
  width: 90%;
  height: 85%;
  margin: auto;
  border-left: solid 7px #F3F1E9;
}

.img-item:hover .overlay-header-static {
  position: absolute;
  bottom: 77%;
  color: #F3F1E9;
}

/*---------- PAGE CHANGE ----------*/
/*---------- PAGE FORWARD PART 1 SEITE ----------*/
.change-page-forward {
  -webkit-animation: change-page-forward-animation 0.8s ease;
          animation: change-page-forward-animation 0.8s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes change-page-forward-animation {
  100% {
    width: 100%;
    right: 0;
  }
}

@keyframes change-page-forward-animation {
  100% {
    width: 100%;
    right: 0;
  }
}

/*---------- PAGE FORWARD PART 2 SEITE ----------*/
.change-page-forward2 {
  -webkit-animation: change-page-forward-animation2 0.8s ease;
          animation: change-page-forward-animation2 0.8s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes change-page-forward-animation2 {
  100% {
    right: 77%;
    width: 100%;
    visibility: hidden;
  }
}

@keyframes change-page-forward-animation2 {
  100% {
    right: 77%;
    width: 100%;
    visibility: hidden;
  }
}

/*---------- PAGE BACK PART 1 SEITE ----------*/
.change-page-back {
  -webkit-animation: change-page-forward-animation 0.8s ease;
          animation: change-page-forward-animation 0.8s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes change-page-back-animation {
  100% {
    width: 100%;
  }
}

@keyframes change-page-back-animation {
  100% {
    width: 100%;
  }
}

/*---------- PAGE BACK PART 2 SEITE ----------*/
.change-page-back2 {
  -webkit-animation: change-page-back-animation2 0.8s ease;
          animation: change-page-back-animation2 0.8s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes change-page-back-animation2 {
  100% {
    width: 7%;
    right: 0;
    visibility: hidden;
  }
}

@keyframes change-page-back-animation2 {
  100% {
    width: 7%;
    right: 0;
    visibility: hidden;
  }
}

/*---------- RIGHT BUTTON FLY IN ----------*/
.flyin-animation-right {
  -webkit-animation: far 0.3s ease-out 1.3s forwards, bounceit 2s ease 1.6s;
          animation: far 0.3s ease-out 1.3s forwards, bounceit 2s ease 1.6s;
  opacity: 0;
}

.flyin-animation-right-home {
  -webkit-animation: far 0.3s ease-out 3.8s forwards, bounceit 2s ease 4.1s;
          animation: far 0.3s ease-out 3.8s forwards, bounceit 2s ease 4.1s;
  opacity: 0;
}

@-webkit-keyframes far {
  from {
    left: 100%;
    opacity: 0.5;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

@keyframes far {
  from {
    left: 100%;
    opacity: 0.5;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

/*---------- LEFT BUTTON FLY IN ----------*/
.flyin-animation-left-button {
  -webkit-animation: falb 0.3s ease-out 1.3s forwards, bounceit 2s ease 1.6s;
          animation: falb 0.3s ease-out 1.3s forwards, bounceit 2s ease 1.6s;
  opacity: 0;
}

@-webkit-keyframes falb {
  from {
    right: 100%;
    opacity: 0.5;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

@keyframes falb {
  from {
    right: 100%;
    opacity: 0.5;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

/*---------- IMAGE FLY IN ----------*/
.flyin-animation-left-image {
  -webkit-animation: fali 0.3s ease-out 0.8s forwards;
          animation: fali 0.3s ease-out 0.8s forwards;
  opacity: 0;
}

@-webkit-keyframes fali {
  from {
    top: -55%;
    opacity: 0.5;
  }
  to {
    top: 15vh;
    opacity: 1;
  }
}

@keyframes fali {
  from {
    top: -55%;
    opacity: 0.5;
  }
  to {
    top: 15vh;
    opacity: 1;
  }
}

/*---------- NAV IS BOUNCING ----------*/
@-webkit-keyframes bounceit {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -7px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -2px, 0);
  }
}
@keyframes bounceit {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -7px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -2px, 0);
  }
}

/*---------- Load Animation ----------*/
.loadandanimationit {
  -webkit-animation: la 0.4s linear forwards;
          animation: la 0.4s linear forwards;
  opacity: 0;
}

.loadanimation {
  opacity: 0;
}

@-webkit-keyframes la {
  from {
    opacity: 0;
    -webkit-transform: translate(-15px, 0);
            transform: translate(-15px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes la {
  from {
    opacity: 0;
    -webkit-transform: translate(-15px, 0);
            transform: translate(-15px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

/*---------- SVG ANIMATION ----------*/
/*---------- VARIABLES ----------*/
.cls-1 {
  fill: none;
  stroke: #1C2112;
  stroke-miterlimit: 20;
  stroke-width: 0px;
}

.line-1l-m {
  stroke-dasharray: 285;
  stroke-dashoffset: 285;
  -webkit-animation: level1-m 0.6s 0.55s ease forwards;
          animation: level1-m 0.6s 0.55s ease forwards;
}

.line-1l-l {
  stroke-dasharray: 161;
  stroke-dashoffset: 161;
  -webkit-animation: level1-l 0.6s 0.4s ease forwards;
          animation: level1-l 0.6s 0.4s ease forwards;
}

.line-1l-r {
  stroke-dasharray: 195;
  stroke-dashoffset: 195;
  -webkit-animation: level1-r 0.6s 0.7s ease forwards;
          animation: level1-r 0.6s 0.7s ease forwards;
}

.line-1l-dach {
  stroke-dasharray: 1540;
  stroke-dashoffset: 1540;
  -webkit-animation: level1-dach 1.2s 1s ease forwards;
          animation: level1-dach 1.2s 1s ease forwards;
}

.line-2l-m {
  stroke-dasharray: 104;
  stroke-dashoffset: 104;
  -webkit-animation: level2-m 0.6s 2.05s ease forwards;
          animation: level2-m 0.6s 2.05s ease forwards;
}

.line-2l-r {
  stroke-dasharray: 98;
  stroke-dashoffset: 98;
  -webkit-animation: level2-r 0.6s 1.9s ease forwards;
          animation: level2-r 0.6s 1.9s ease forwards;
}

.line-2l-l {
  stroke-dasharray: 61;
  stroke-dashoffset: 61;
  -webkit-animation: level2-l 0.6s 2.2s ease forwards;
          animation: level2-l 0.6s 2.2s ease forwards;
}

.line-2l-dach {
  stroke-dasharray: 823;
  stroke-dashoffset: 823;
  -webkit-animation: level2-dach 0.8s 2.5s ease forwards;
          animation: level2-dach 0.8s 2.5s ease forwards;
}

@-webkit-keyframes level1-r {
  from {
    opacity: 0;
    stroke-width: 0px;
  }
  to {
    stroke-dasharray: 195;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@keyframes level1-r {
  from {
    opacity: 0;
    stroke-width: 0px;
  }
  to {
    stroke-dasharray: 195;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@-webkit-keyframes level1-m {
  from {
    opacity: 0;
  }
  to {
    stroke-dasharray: 285;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@keyframes level1-m {
  from {
    opacity: 0;
  }
  to {
    stroke-dasharray: 285;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@-webkit-keyframes level1-l {
  from {
    opacity: 0;
  }
  to {
    stroke-dasharray: 161;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@keyframes level1-l {
  from {
    opacity: 0;
  }
  to {
    stroke-dasharray: 161;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@-webkit-keyframes level1-dach {
  from {
    stroke-width: 6px;
  }
  to {
    stroke-dasharray: 1540;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@keyframes level1-dach {
  from {
    stroke-width: 6px;
  }
  to {
    stroke-dasharray: 1540;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@-webkit-keyframes level2-r {
  from {
    opacity: 0;
  }
  to {
    stroke-dasharray: 98;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@keyframes level2-r {
  from {
    opacity: 0;
  }
  to {
    stroke-dasharray: 98;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@-webkit-keyframes level2-m {
  from {
    opacity: 0;
  }
  to {
    stroke-dasharray: 104;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@keyframes level2-m {
  from {
    opacity: 0;
  }
  to {
    stroke-dasharray: 104;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@-webkit-keyframes level2-l {
  from {
    opacity: 0;
  }
  to {
    stroke-dasharray: 61;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@keyframes level2-l {
  from {
    opacity: 0;
  }
  to {
    stroke-dasharray: 61;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@-webkit-keyframes level2-dach {
  from {
    opacity: 0;
    stroke-width: 6px;
  }
  to {
    opacity: 1;
    stroke-dasharray: 823;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

@keyframes level2-dach {
  from {
    opacity: 0;
    stroke-width: 6px;
  }
  to {
    opacity: 1;
    stroke-dasharray: 823;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

.loader-forward {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  z-index: 99;
  background: #1C2112;
}

.loader-forward-nextpage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: #1C2112;
}

.loader-back {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 23%;
  z-index: 8;
  background: #1C2112;
}

.loader-back-nextpage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: #1C2112;
}

#tryout {
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

.resize {
  font-size: 3rem !important;
}

/*--------------- FONT ---------------*/
html {
  overflow-y: scroll;
  font-size: 14px;
}

html p, html a, html ol, html ul, html li {
  line-height: 1.5;
  color: #1C2112;
}

html strong {
  font-weight: 400;
}

body {
  font-family: zeitung, sans-serif;
  font-weight: 200;
  font-style: normal;
  background: #F3F1E9;
}

h1 {
  font-family: base-12-sans, sans-serif;
  font-weight: 400;
  font-size: 6vw;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-family: base-12-sans, sans-serif;
  font-weight: 400;
  font-size: 3.5vw;
  font-style: normal;
  text-transform: uppercase;
}

h3 {
  font-family: base-9-sans, sans-serif;
  font-weight: 400;
  font-size: 2vw;
  font-style: italic;
  text-transform: uppercase;
  color: #819C4B;
}

h2 {
  margin: 0 0 0.5rem 0;
}

h4 {
  font-family: zeitung, sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  color: #F3F1E9;
}

h3 {
  margin: 0 0 1.5rem 0;
}

/*--------------- GRIDS ---------------*/
/*------------ GRID ENTDECKEN ------------*/
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto 6vh auto 1vh auto 6vh auto 6vh auto auto auto 6vh auto 1vh auto 6vh auto 6vh auto 1vh auto;
      grid-template-rows: auto 6vh auto 1vh auto 6vh auto 6vh auto auto auto 6vh auto 1vh auto 6vh auto 6vh auto 1vh auto;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

/*.item {
    border: solid 2px $s-color;
    padding: 1rem;
}*/
.item-1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: center;
}

.item-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  text-align: left;
  padding-right: 50px;
}

.item-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  text-align: left;
}

.item-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  text-align: left;
}

.item-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  grid-row: 9/12;
  text-align: left;
}

.item-6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
  text-align: left;
  padding: 2rem;
  background: #F3F1E9;
}

.item-7 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
  text-align: center;
}

.item-8 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  grid-row: 15/16;
}

.item-9 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 17;
  -ms-grid-row-span: 1;
  grid-row: 17/18;
}

.item-10 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 19;
  -ms-grid-row-span: 1;
  grid-row: 19/20;
  text-align: right;
}

.item-11 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 21;
  -ms-grid-row-span: 1;
  grid-row: 21/22;
}

/*------------ GRID PERSONEN ------------*/
.container-personen p {
  font-size: 1.2rem;
  width: 75%;
}

.grid-container-personen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% auto;
      grid-template-columns: 32% auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 8rem;
  grid-column-gap: 5%;
}

.grid-container-personen p {
  font-size: 1.1rem;
  padding-left: 1rem;
  width: 90%;
}

.grid-container-personen .img-item {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: auto;
}

.grid-container-personen .text-item {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*------------ GRID Projekte ------------*/
.grid-container-projekte {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90%;
      grid-template-columns: 90%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 8rem;
  grid-column-gap: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container-projekte .overlay-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 20% 20%;
      grid-template-columns: 40% 20% 20%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 5%;
}

.grid-container-projekte .grid-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: auto;
}

.grid-container-projekte .grid-bild1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: auto;
}

.grid-container-projekte .grid-bild2 {
  padding-top: 3rem;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-row: auto;
}

/*--------------- LAYOUT ---------------*/
.container {
  position: relative;
  width: 100%;
  color: #1C2112;
  background: #F3F1E9;
}

.main-padding {
  padding: 15vh 0 10vh;
}

.main-margin {
  margin-left: 38%;
  max-width: 50%;
  padding-top: 5vh;
}

.main-margin-projekte {
  margin-left: 28%;
  max-width: 60%;
  padding-top: 15vh;
}

.main-margin-personen {
  margin-left: 28%;
  max-width: 60%;
  padding-top: 27vh;
}

/*--------------- NAV ---------------*/
#sidenav-right {
  position: fixed;
  top: -50vh;
  height: 200vh;
  right: 0;
  bottom: 0;
  width: 7%;
  z-index: 9;
  color: #F3F1E9;
  background: #1C2112;
}

#sidenav-left {
  position: fixed;
  top: -50vh;
  height: 200vh;
  left: 0;
  bottom: 0;
  width: 23%;
  z-index: 9;
  color: #F3F1E9;
  background: #1C2112;
}

.nextpage-left {
  background: #F3F1E9;
  position: absolute;
  right: 0;
  top: 140vh;
  width: 65px;
  height: 15px;
  z-index: 10;
}

.nextpage-right {
  background: #F3F1E9;
  position: absolute;
  left: 0;
  top: 140vh;
  width: 65px;
  height: 15px;
  z-index: 10;
}

.clickable-div {
  display: block;
  height: 100%;
  z-index: 10;
}

/*--------------- IMAGES ---------------*/
img {
  width: 100%;
  height: auto;
}

.main-image {
  position: fixed;
  left: 12%;
  width: 22%;
  height: auto;
  z-index: 99;
}

.main-image-quadrat {
  -webkit-box-shadow: 3px 3px 5px 0px #1c2112a8;
          box-shadow: 3px 3px 5px 0px #1c2112a8;
}

.main-image-round {
  -webkit-box-shadow: 3px 3px 5px 0px #1c2112a8;
          box-shadow: 3px 3px 5px 0px #1c2112a8;
}

/*--------------- PADDING MARGIN ---------------*/
.header-txt {
  margin-bottom: 10vh;
}

.testclass {
  position: absolute;
  width: 77%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-58%, -55%);
          transform: translate(-58%, -55%);
}
/*# sourceMappingURL=main.css.map */