@import 'helpers';
@import 'startseite';
@import 'animation';
@import 'loader';

/*--------------- FONT ---------------*/

html {
    overflow-y: scroll;

p, a, ol, ul, li {
    line-height: 1.5;
    color: $p-color;
    }

strong {
    font-weight: 400;
}    
}

body {
    font-size: 18px;
    font-family: zeitung, sans-serif;
    font-weight: 200;
    font-style: normal;
    background: $bg-color;
}


h1 {
    font-family: base-12-sans, sans-serif;
    font-weight: 400;
    font-size: 7vw;
    font-style: normal;
    text-transform: uppercase;
}

h2 {
    font-family: base-9-sans, sans-serif;
    font-weight: 400;
    font-size: 2.1vw;
    font-style: italic;
    text-transform: uppercase;
    color: $s-color;
}

h2, h3, h4 {
    margin: 0 0 1.5rem 0;
}


/*--------------- GRIDS ---------------*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 6vh auto 1vh auto 6vh auto 6vh auto auto auto 6vh auto 1vh auto 6vh auto 6vh auto 1vh auto;
    grid-row-gap: 15px;
    grid-column-gap: 15px;

}

/*.item {
    border: solid 2px $s-color;
    padding: 1rem;
}*/

.item-1 {
    grid-column: 3/6;
    grid-row: 1;
    text-align: center;
}
.item-2 {
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: left;
    padding-right: 50px;
}
.item-3 {
    grid-column: 2/7;
    grid-row: 5/6;
    text-align: left;
}
.item-4 {
    grid-column: 2/6;
    grid-row: 7/8;
    text-align: left;
}
.item-5 {
    grid-column: 1/4;
    grid-row: 9/12;
    text-align: left;
}
.item-6 {
    grid-column: 3/6;
    grid-row: 10/11;
    text-align: left;
    padding: 2rem;
    background: $bg-color;
}
.item-7 {
    grid-column: 3/6;
    grid-row: 13/14;
    text-align: center;
}
.item-8 {
    grid-column: 3/7;
    grid-row: 15/16;

}
.item-9 {
    grid-column: 1/4;
    grid-row: 17/18;
}
.item-10 {
    grid-column: 3/6;
    grid-row: 19/20;
    text-align: right;
}
.item-11 {
    grid-column: 1/7;
    grid-row: 21/22;
}



/*--------------- LAYOUT ---------------*/
.container {
    position: relative;
    width: 100%;
    @include color-schema;
}

.main-padding {
    padding: 15vh 15px 10vh;

}

.main-margin {
    margin-left: $size-sidebar-left + $size-margin-left-main;
    max-width: 100 - $size-sidebar-left - $size-sidebar-right - $size-margin-left-main - 5;
}



/*--------------- NAV ---------------*/
#sidenav-right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $size-sidebar-right;
    z-index: 9;
    @include color-schema-negative;
}

#sidenav-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $size-sidebar-left;
    z-index: 9;
    @include color-schema-negative;
}

.nextpage-left {
    background: $bg-color;
    position: absolute;
    right: 0;
    top: 90vh;
    width: 65px;
    height: 20px;
    z-index: 10;
}

.nextpage-right {
    background: $bg-color;
    position: absolute;
    left: 0;
    top: 90vh;
    width: 65px;
    height: 20px;
    z-index: 10;
}

.clickable-div {
    display: block;
    height: 100%;
    z-index: 10;
}



/*--------------- IMAGES ---------------*/

img {
    width: 100%;
    height: auto;
}

.main-image {
    position: fixed;
    top: 16%;
    left: $size-sidebar-left - ($image-width / 2);
    width: $image-width;
    height: auto;
    z-index: 99;

}

.main-image-quadrat {
    position: fixed;
    top: 16%;
    left: $size-sidebar-left - ($image-width / 2);
    width: $image-width;
    height: auto;
    z-index: 99;

}

.main-image-round {
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0px #1c2112a8;

}


/*--------------- PADDING MARGIN ---------------*/

.header-txt {
    margin-bottom: 10vh;
}




.testclass {
    position: absolute;
    width: 67%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-63%, -55%);
}
